body {
	margin: 0 auto;
}
header {
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
}
.logo-circle {
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	width: 400px;
	height: 400px;
	border-radius: 200px;
	background-color: rgba(0, 0, 0, 0.6);
}
h1 {
	display: inline-block;
    background: url(../img/logo.svg) no-repeat;
    width: 709px;
    height: 117px;
    margin-left: -168px;
    margin-top: 130px;
    background-size: cover;
}
.logo-circle p {
	font-size: 16px;
	color: #ffffff;
    margin-left: 113px;
    text-transform: uppercase;
    letter-spacing: 12px;
    font-family: "roboto", "Arial", sans-serif;
}
@media (max-width: 768px) {
	.logo-circle {
		width: 200px;
		height: 200px;
		border-radius: 100px;
	}
	h1 {
		width: 315px;
		height: 50px;
		margin-top: 75px;
    	margin-left: -60px;
	}
	.logo-circle p {
		margin-left: 52px;
		letter-spacing: 6px;
		font-size: 10px;

	}
}
.portfolio {
	height: 600px;
	background: #000;
}