
body {
	margin: 0 auto;
	min-width: 320px;
	max-width: 1440px;
	background-color: #fff;
}
.top-bar {
	display: flex;
	height: 65px;
	border-bottom: 1px solid #e6e6e6;
	padding-left: 20px;
	padding-right: 20px;
	justify-content: space-between;
	line-height: 64px;
}
.logo {
	display: block;
	background-image: url(../img/logo-mobile.svg);
	background-size: cover;
	width: 35px;
	height: 40px;
	margin-top: 9px; 
}
.catenergy-mobile {
	background-image: url(../img/catenergy-mobile.svg);
	background-size: cover;
	width: 110px;
	height: 20px;
	margin-top: 20px; 
}
.mobile-menu {
	display: block;
	width: 24px;
	height: 24px;
	background-size: cover;
	margin-top: 20px;
}
.mobile-menu-open {
	background-image: url(../img/menu-mobile.svg);
}
.top-menu {
	display: none;
}
.top-menu ul {
	display: grid;
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-show {
	display: block;
}
.mobile-menu-show {
	background-image: url(../img/menu-close.svg);
}
.top-menu ul li {
	height: 65px;
	border-bottom: 1px solid #e6e6e6;
	text-align: center;
	line-height: 65px;
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
}
.top-menu ul li a {
	text-decoration: none;
	outline: none;
	color: #000000;
	padding-bottom: 10px;
	-webkit-tap-highlight-color: transparent;
}
.green-botton {
	display: block;
	background-color: #68b738;
	width: 280px;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	outline: none;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	font-family: 'Oswald', sans-serif;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -140px;
}
.banner-select {
	position: relative;
	min-height: 500px;
}
.banner-select::before {
	width: 280px;
	height: 270px;
	content: "";
	position: absolute;
	top: 165px;
	left: 50%;
	margin-left:-140px;
	background-image: url(../img/index-can-mobile.png);
	}
.banner-select h1 {
	text-align: center;
	color: #ffffff;
	font-family: 'Oswald', sans-serif;
	font-size: 36px;
	font-weight: 400;
	margin-top: 0px;
	padding-top: 30px;
}
.banner-select p {
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
}
.select {
	display: grid;
	grid-gap: 20px;
	padding: 20px;
}
.item-select {
	background-color: #f2f2f2;
	position: relative;
	padding: 20px;
}
.item-select h3 {
	padding-left: 92px;
	margin-top: 18px;
	margin-bottom: 38px;
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
}
.item-select p {
	font-size: 14px;
	font-family: 'Arial', sans-serif;
}
.catalog-go {
	display: block;
	outline: none;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #000000;
	border-top: 1px solid #d9d9d9;
	margin-top: 27px;
	padding-top: 20px;
	position: relative;
}
.catalog-go::before {
	width: 24px;
	height: 11px;
	content: "";
	position: absolute;
	top: 22px;
	left: 95px;
	background-image: url(../img/right-arrow-long.svg);
	}
.green-circle {
	display: block;
	position: absolute;
	top: 25px;
	left: 25px;
	background-color: #68b738;
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
.cat-slim::before {
	width: 35px;
	height: 49px;
	content: "";
	position: absolute;
	top: -2px;
	left: 10px;
	background-image: url(../img/cat-slim.svg);
	}
.cat-pro::before {
	width: 67px;
	height: 28px;
	content: "";
	position: absolute;
	top: 11px;
	left: -10px;
	background-image: url(../img/cat-pro.svg);
	}
.advantages {
	padding: 20px;
}
h2 {
	color: #000000;
	font-family: 'Oswald', sans-serif;
	font-size: 36px;
	font-weight: 400;
	margin-top: 15px;
}
.advantages-item {
	list-style: none;
	padding: 0;
	padding-left: 80px;
	margin: 0;
	display: grid;
	grid-gap: 20px;
}
.advantages-item li {
	position: relative;
	min-height: 60px;
}
.advantages-item li p {
	font-size: 14px;
	font-family: 'Arial', sans-serif;
	margin: 0;
}
.green-square {
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: #68b738;
	top: -5px;
	left: -80px;
}
.advantages-1::before {
	width: 60px;
	height: 60px;
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	background-image: url(../img/advantages-sprite.png);
}
.advantages-2::before {
	width: 60px;
	height: 60px;
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	background-image: url(../img/advantages-sprite.png);
	background-position: top 0px left 179px;
}
.advantages-3::before {
	width: 60px;
	height: 60px;
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	background-image: url(../img/advantages-sprite.png);
	background-position: top 0px left 120px;
}
.advantages-4::before {
	width: 60px;
	height: 60px;
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	background-image: url(../img/advantages-sprite.png);
	background-position: top 0px left 60px;
}
.advantage-nom {
	display: none;
}
.example {
	padding: 20px;
	background-color: #f2f2f2;
}
.example-wrap {
	display: grid;
}
.example-desc p {
	font-size: 14px;
	font-family: 'Arial', sans-serif;
}
.example-desc ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin: 0px;
	padding: 0px;
	margin-top: 30px;
	margin-bottom: 36px;
}
.example-desc ul li {
	display: block;
	width: 125px;
	height: 55px;
	border: 1px solid #cdcdcd;
	text-align: center;
	line-height: 55px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	position: relative;
}
.crypt {
	display: block;
	width: 85px;
	font-size: 12px;
	font-family: 'Arial', sans-serif;
	line-height: 13px;
	text-transform: none;
	position: absolute;
	top: 47px;
	left: 20px;
	background-color: #f2f2f2;
	letter-spacing: 0.6px;
}
.example-price {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	display: block;
}
.before {
	background-image: url(../img/before-mobile.png);
	background-repeat: no-repeat;
	display: block;
	height: 240px;
	background-position: center;
	margin-top: 44px;
}
.check {
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.check li {
	margin: 19px;
}
.check li a {
	text-decoration: none;
	outline: none;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	color: #000000;
}
.check-box {
	width: 82px;
	height: 12px;
	border: 1px solid #cdcdcd;
	border-radius: 4px;
	background-color: #ffffff;
	position: relative;
}
.check-box-before::before {
	position: absolute;
	content: "";
	top: 3px;
	left: 4px;
	width: 35px;
	height: 6px;
	border-radius: 3px;
	background-color: #68b738;
}
.address {
	display: flex;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
}
.address p {
	text-transform: uppercase;
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
}
.address span {
	font-size: 14px;
	font-family: 'Arial', sans-serif;
}
map {
	width: 100%;
	height: 360px;
}
footer {
	display: grid;
	padding: 20px;
	background-color: #f2f2f2;
	margin-top: -4px;
	padding-bottom: 0px;
}
.footer-logo {
	height: 94px;
	position: relative;
	display: block;
}
.footer-logo::before {
	position: absolute;
	content: "";
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	width: 126px;
	height: 23px;
	background-image: url(../img/footer-logo.svg);
}
.social {
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 62px;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}
.social li a {
	font-size: 0px;
	margin: 20px;
}
.social li a svg {
	width: 22px;
	height: 19px;
	opacity: 0.6;
}
.social li a:hover svg {
	fill: #68b738;
}
.social li a:focus svg {
	opacity: 0.3;
}
.copyright {
	color: #d9d9d9;
	text-decoration: none;
	outline: none;
	display: block;
	height: 78px;
	line-height: 78px;
}
.copyright svg {
	width: 27px;
	height: 35px;
	margin-top: 21px;
	float: right;
	opacity: 0.6;
}

@media (max-width: 767px) {
	.banner-select::after {
		position: absolute;
		top: 0px;
		content: "";
		background-image: url(../img/bg-index-mobile.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		height: 305px;
		width: 100%;
		z-index: -25;
	}
	.top-menu ul li a {
		display: block;
	}
}
@media (min-width: 768px) {
	.catenergy-mobile {
		display: none;
	}
	.mobile-menu {
		display: none;
	}
	.top-menu {
		display: block;
	}
	.main-menu {
		display: grid;
		grid-template-columns: 245px 1fr;
	}
	.logo {
		background-image: url(../img/logo-tablet.svg);
		width: 177px;
		height: 56px;
		margin-top: 25px; 
	}
	.top-bar {
		border-bottom: none;
		height: 90px;
		padding-left: 30px;
	}
	.top-menu ul {
		grid-template-columns: 70px 1fr 1fr;
		grid-auto-columns: min-content;
		grid-column-gap: 20px;
		float: right;
		margin-top: 14px;
		padding-right: 30px;
	}
	.top-menu ul li {
		height: 80px;
		border-bottom: none;
		line-height: 80px;
		font-size: 18px;
	}
	.top-menu ul li a:active {
		border-bottom: 2px solid #68b738;
	}
	.banner-select::before {
		width: 608px;
		height: 598px;
		top: 260px;
		left: 50%;
		margin-left:-304px;
		background-image: url(../img/index-can-tablet.png);
	}
	.banner-select h1 {
		text-align: left;
		color: #000000;
		font-size: 60px;
		font-weight: 400;
		margin-left: 120px;
	}
	.banner-select p {
		font-size: 20px;
		text-transform: uppercase;
		text-align: left;
		margin-left: 120px;
		color: #000000;
	}
	.green-botton {
		left: 120px;
		top: 290px;
		font-size: 20px;
		margin-left: 0px;
		width: 245px;
		height: 50px;
		line-height: 50px;
	}
	.select {
		grid-gap: 30px;
		padding: 30px;
	}
	.item-select {
		padding: 50px;
	}
	.item-select h3 {
		padding-left: 0px;
		margin-top: 30px;
		margin-bottom: 30px;
		font-size: 36px;
	}
	.item-select p {
		font-size: 16px;
		margin-right: 250px;
	}
	.catalog-go {
		font-size: 20px;
		border-top: none;
		margin-right: 250px;
	}
	.catalog-go::before {
		top: 26px;
		left: 134px;
	}
	.green-circle {
		top: 92px;
		left: auto;
		right: 62px;
		width: 200px;
		height: 200px;
		border-radius: 100px;
	}
	.cat-slim::before {
		width: 140px;
		height: 194px;
		top: -11px;
		left: 30px;
		}
	.cat-pro::before {
		width: 263px;
		height: 110px;
		top: 45px;
		left: -33px;
		}
	.advantages {
		padding: 30px;
	}
	.advantages-item {
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px;
		padding-left: 0px;
	}
	.advantages-item li {
		min-height: 282px
	}
	.advantage-nom {
		font-size: 281px;
		color: #f2f2f2;
		font-family: 'Oswald', sans-serif;
		display: block;
		position: absolute;
		top: -55px;
		right: 95px;
	}
	.advantages-item li p {
		position: absolute;
		top: 120px;
		left: 0px;
		font-size: 16px;
		margin-right: 120px;

	}
	.green-square {
		position: absolute;
		width: 80px;
		height: 80px;
		background-color: #68b738;
		top: 0px;
		left: 0px;
	}
	.advantages-1::before {
		top: 10px;
		left: 10px;
	}
	.advantages-2::before {
		top: 10px;
		left: 10px;
	}
	.advantages-3::before {
		top: 10px;
		left: 10px;
	}
	.advantages-4::before {
		top: 10px;
		left: 10px;
	}
	.example {
		background-color: #ffffff;
		border-top: 1px solid #e6e6e6;
		padding: 30px 0px 30px 0px;
	}
	.example h2 {
		padding-left: 30px;
	}
	.example-desc {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto;
		padding: 0 30px;
	}
	.example-desc p {
		font-size: 16px;
		grid-column: 1/3;
		margin-bottom: 0px;
	}
	.example-desc ul {
		justify-content: start;
		margin-top: 62px;
	}
	.example-desc ul li {
		margin-right: 42px;
		width: 160px;
		height: 70px;
		border-radius: 2px;
		line-height: 70px;
		font-size: 30px;
	}
	.crypt {
		display: flex;
    	justify-content: center;
    	width: max-content;
    	position: absolute;
    	top: 63px;
    	left: 50%;
    	transform: translateX(-50%);
    	font-size: 14px;
    	line-height: 14px;
    	padding-left: 5px;
    	padding-right: 5px;
    	background-color: #ffffff;
	}
	.example-price {
		font-size: 20px;
		text-align: right;
		width: 95%;
		margin-top: 70px;
		justify-self: end;
	}
	.before {
		background-image: none;
		background-color: #f2f2f2;
		margin-top: 245px;
		height: 355px;
		position: relative;
	}
	.before::before {
		position: absolute;
		content: "";
		top: -165px;
		left: 50%;
		transform: translateX(-50%);
		width: 677px;
		height: 499px;
		background-image: url(../img/before-desktop.png);
	}
	.check {
		background-color: #f2f2f2;
	}
	.check li {
		margin: 12px;
	}
	.check li a {
		display: block;
		font-size: 20px;
		padding-bottom: 3px;
		border-bottom: 1px dotted #bebebe;
	}
	.check-box {
		width: 428px;
		height: 6px;
		border-radius: 3px;
		background-color: #dcdcdc;
		border: none;
		position: relative;
	}
	.check-box-before::before {
		display: none;
	}
	.check-box::after {
		position: absolute;
		content: "\00B7";
		color: #68b738;
		font-size: 65px;
		text-align: center;
		font-family: Times New Roman;
		line-height: 32px;
		left: 1%;
		top: -15px;
		width: 30px;
		height: 30px;
		border-radius: 15px;
		border: 1px solid #cdcdcd;
		background-color: #ffffff;
		box-shadow: 1px 2px 10px -2px rgba(0,0,0,0.75);
	}
	.check-box::after::before {
		position: absolute;
		content: "";
		left: 3px;
		top: -3px;
		width: 6px;
		height: 6px;
		border-radius: 3px;
		z-index: 5;
		background-color: #68b738;
	}
	.address {
		padding: 34px 70px 34px 70px;
		align-items: start;
	}
	.address p {
		font-size: 20px;
		margin: 0px;
	}
	.address span {
		text-align: right;
		font-size: 16px;
	}
	.city {
		line-height: 60px;
	} 
	footer {
		padding: 30px;
		grid-template-columns: 1fr 1fr 1fr;
	}
	.footer-logo::before {
		top: 40px;
		left: 0px;
		transform: translateX(0%);
	}
	.social {
		margin-top: 20px;
		border-top: none;
		border-bottom: none;
	}
	.social li a {
		margin: 14px;
	}
	.copyright {
		text-align: right;
		margin-top: 10px;
		color: #000000;
		opacity: 0.7;
	}
	.copyright svg {
		margin-left: 23px;
	}
}
@media (max-width: 1023px) and (min-width: 768px) {
	.banner-select {
    min-height: 850px;
}
}
@media (min-width: 1024px) {
	body {
		width: 1440px;
	}
	.container {
		margin: 0 auto;
		width: 1220px;
	}
	.top-bar {
		width: 285px;
		padding-left: 107px;
	}
	.logo {
		background-image: url(../img/logo-desktop.svg);
		width: 205px;
		height: 60px;
		margin-top: 52px;
	}
	.top-menu ul {
		padding-right: 110px;
		margin-top: 46px;
		grid-column-gap: 52px;
	}
	.top-menu ul li a {
		color: #ffffff;
	}
	.first-screen {
		background-image: url(../img/bg-index-desktop.jpg);
		min-height: 696px;
		min-width: 1440px;
		background-position: right;
		background-repeat: no-repeat;
	}
	.banner-select::before {
		width: 552px;
		height: 499px;
		top: 16px;
		left: 865px;
		background-image: url(../img/index-can.png);
	}
	.banner-select h1 {
		text-align: left;
		font-weight: 400;
		margin-left: 191px;
		padding-top: 85px;
	}
	.banner-select p {
		margin-left: 191px;
		margin-top: -7px;
	}
	.green-botton {
		left: 190px;
		top: 330px;
		margin-left: 0px;
		width: 245px;
		height: 50px;
		line-height: 50px;
	}
	.select {
		grid-template-columns: 570px 570px;
		grid-gap: 80px;
		padding: 80px;
		padding-bottom: 35px;
	}
	.item-select {
		padding: 50px;
	}
	.item-select h3 {
		padding-left: 167px;
		margin-top: 25px;
		margin-bottom: 80px;
	}
	.item-select p {
		margin-right: 0px;
	}
	.catalog-go {
		margin-right: 0px;
		margin-top: 19px;
	}
	.green-circle {
		top: 50px;
		left: 50px;
		width: 100px;
		height: 100px;
		border-radius: 50px;
	}
	.cat-slim::before {
		width: 70px;
		height: 97px;
		top: -9px;
		left: 17px;
	}
	.cat-pro::before {
		width: 134px;
		height: 56px;
		top: 20px;
		left: -16px;
	}
	h2 {
		font-size: 60px;
		padding-bottom: 20px;
	}
	.advantages-item {
		grid-template-columns: 245fr 245fr 245fr 245fr;
		grid-gap: 80px;
	}
	.advantages-item li p {
		margin-right: 0px;
	}
	.advantage-nom {
		right: 0px;
	}
	.advantages {
		padding-bottom: 0px; 
	}
	.example {
		border-top: none;
		padding-top: 6px;
		padding-bottom: 0px;
	}
	.example h2 {
		padding-left: 110px;
	}
	.example-wrap {
		display: grid;
		grid-template-columns: 720px 720px;
		background-color: #f2f2f2;
	}
	.wrap-foto {
		justify-self: start;
	}
	.example-desc {
		padding: 60px 175px 70px 110px;
		display: block;
	}
	.example-desc p {
		line-height: 23px;
	}
	.example-desc ul {
		margin-top: 67px;
	}
	.crypt {
		background-color: #f2f2f2;
	}
	.example-price {
		text-align: left;
		margin-top: 60px;
	}
	.example-price span {
		margin-left: 65px;
	}
	.before {
		margin-top: 0px;
		margin-left: -30px;
	}
	.check {
		margin-top: -5px;
		margin-left: 25px;
	}
	.contacts {
		position: relative;
	}
	.address {
		width: 405px;
		position: absolute;
		left: 110px;
		top: 100px;
		background-color: #ffffff;
		padding: 64px 75px 40px 75px;
	}
	.address span {
		text-align: left;
	}
	footer {
		padding-left: 110px;
		padding-right: 110px;
	}
	.social li a svg {
		width: 22px;
		height: 22px;
	}


}
