body {
	width: 1200px;
	margin: 0 auto;
	font-family: "roboto", "Arial", sans-serif ;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;

}
h2 {
	font-size: 36px;
	line-height: 35px;
	font-weight: 500;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.main-header {
	background: #eeeeee;
	min-height: 436px;
	margin-bottom: 80px;
}
.container {
	width: 880px;
	margin: 0 auto;
}
.top-header {
	min-height: 83px;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 47px;

}
.top-logo {
	float: left;
	padding-top: 27px;
	margin-right: 182px;

}
.top-logo img{
	width: 140px;
	height: 56px;
}
.top-nav {
	float: left;
}
.top-nav  ul{
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
}
.top-nav li {
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
	line-height: 30px;
}
.top-nav a {
	display: block;
	padding-top: 53px;
	margin-right: 45px;
	text-decoration: none;
	color: #000000;
	font-weight: 500;
}
.top-nav a:hover {
	color: #db575a;
}
.top-nav a:focus {
	color: #a9a9a9;
}
.active {
	border-bottom: 2px solid #db575a;
}
.t-cart {
	float: right;
}
.t-cart a {
	text-decoration: none;
	font-size: 14px;
    display: block;
    color: #000000;
    padding-top: 58px;
    line-height: 16px;
    font-weight: 500;
    padding-bottom: 6px;
}
.icon-basket{
	font-size: 16px;
	margin-right: 10px;
}
.t-cart a:hover {
	color: #db575a;
}
.t-cart a:focus {
	color: #a9a9a9;
}
.head-slider {
	position: relative;
	min-height: 300px;
}
.slider-content {
	width: 400px;
	float: left;
}
.slider-content h2 {
	margin-top: 21px;
	margin-bottom: 19px;

}
.slider-content p {
	margin-bottom: 27px;
}
.slider-img {
	width: 338px;
	float: right;
}
.btn {
	display: inline-block;
	line-height: 38px;
	border-radius: 3px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	color: #ffffff
}
.btn-slider {
	background-color: #db575a;
	padding-right: 70px;
	padding-left: 70px;
}
.slider-check {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 189px;
    left: 405px;
}
.slider-check li {
	display: inline-block;
	font-size: 12px;
	width: 10px;
	height: 10px;
	background-color: #ffffff;
	border-radius: 5px;
	margin-right: 5px;
}
.works {
	margin-bottom: 80px;
}	
.works-item {
	float: left;
	width: 240px;
	margin-right: 80px;
}
.works-item b {
	text-transform: uppercase;
	font-size: 18px;
}
.works-item p {
	font-size: 15px;
	margin-top: 17px;
	margin-bottom: 26px;
	line-height: 22px;
}
.works-item:last-child {
	margin-right: 0px;
}
.works span {
	display: block;
	width: 240px;
	height: 124px;
	background-image: url(../images/sprite.jpg);
	margin-bottom: 27px;
}
.web {
	background-position: 0px 0px
}
.app {
	background-position: 0px -124px;
}
.present {
	background-position: 0px -248px;
}
.btn-red {
	background-color: #db575a;
	padding-right: 40px;
	padding-left: 40px;
}
.btn-red:hover {
	background-color: #ba4a4e;
}
.btn-red:focus {
	background-color: #9d383b;
	box-shadow: inset 0px 3px 0px 0px #863032;
}
.btn-green {
	background-color: #71c978;
	padding-right: 40px;
	padding-left: 40px;
}
.btn-green:hover {
	background-color: #5ba162;
}
.btn-green:focus {
	background-color: #518f57;
	box-shadow: inset 0px 3px 0px 0px #457a4a;
}
.btn-yellow {
	background-color: #e4c755;
	padding-right: 40px;
	padding-left: 40px;
}
.btn-yellow:hover {
	background-color: #caac3c;
}
.btn-yellow:focus {
	background-color: #b59a34;
	box-shadow: inset 0px 3px 0px 0px #9a832c;
}
.desc h4 {
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 23px;
}
.desc {
	border-top: 2px solid #eeeeee;
	padding-top: 52px;
	margin-bottom: 47px;
}
.desc-left {
	width: 600px;
	float: left;
}
.desc-left h2 {
	margin-top: 18px;
	margin-bottom: 20px;
}
.desc-left p {
	margin-bottom: 44px;
}
.desc-right {
	width: 240px;
	float: right;
}
.logo {
	padding-left: 29px;
	padding-top: 7px;
	padding-bottom: 30px;
	margin-bottom: 75px;
	border-bottom: 2px solid #eeeeee;
	position: relative;
	z-index: -1;
}
.logo span {
	display: block;
	width: 113px;
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	z-index: 1;
	top: 109px;
	left: 65px;
	background-color: #ffffff;
}
.list {
	display: inline-block;
	width: 25px;
	height: 2px;
	margin-right: 11px;
	background-color: #db575a;
	margin-bottom: 5px;
}
.desc-marker {
	list-style: none;
	padding: 0;
	margin: 0;
}
.desc-marker li {
	padding-bottom: 22px;
}
.partners {
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
	margin-bottom: 85px;
}
.partners  ul {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
}
.partners  li {
	float: left;
	margin-right: 100px;
}
.partners  li:last-child {
	margin-right: 0px;
}
.partners a {
	display: block;
	width: 220px;
	height: 166px;
	font-size: 0px;
	opacity: 0.2;
}
.partners .glukhanko {
	background: url(../images/glukhanko.png) no-repeat center;
}
.partners .htmlacademy {
	background: url(../images/htmlacademy.png) no-repeat center;
}
.partners .borodinski {
	background: url(../images/borodinski.png) no-repeat center;
}
.partners a:hover {
	opacity: 1;
}
.map {
	height: 415px;
	position: relative;
}
.contacts {
	width: 230px;
	background-color: #ffffff;
	padding-left: 20px;
	padding-top: 13px;
	position: absolute;
	top: 88px;
	left: 160px;
}
.contacts h3 {
	font-size: 16px;
	margin-bottom: 15px;
}
.contacts p {
	color: #666666;
	line-height: 20px;
	margin-bottom: 20px;
}
.btn-contact {
	background-color: #db575a;
	padding-right: 55px;
	padding-left: 55px;
	margin-top: 10px;
    margin-bottom: 25px;
}
.map::before {
	content: "";
	width: 231px;
	height: 190px;
	background-image: url(../images/pointer.png);
	position: absolute;
	top: 113px;
	right: 131px;
}
.main-footer {
	min-height: 216px;
}
.footer-social {
	float: left;
	margin-top: 77px;
	width: 300px;
}
.footer-social  ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.footer-social li {
	float: left;
}
.footer-social a {
	display: block;
	width: 62px;
	height: 62px;
	margin-right: 27px;
	border-radius: 31px;
	background-color: #eeeeee;
	color: #ffffff;
	font-size: 23px;
	text-align: center;
	line-height: 62px;
}
.footer-social a:hover {
	background-color: #db575a;
}
.footer-social a:focus {
	background-color: #ba4a4e;
}
.footer-right {
	float: right;
	width: 560px;
    padding-top: 45px;
}
.footer-right h2 {
	margin-bottom: -4px;
}
.cat-main-header {
	background: #eeeeee;
	min-height: 328px;
	margin-bottom: 75px;
}
.cat-welcome p {
	font-size: 40px;
	text-align: center;
    text-transform: uppercase;
    margin-top: 60px;
    line-height: 47px;
}
.cat-form {
	float: left;
	width: 240px;
}
.catalog {
	float: right;
	width: 560px;
	margin-top: 5px
}
.interval {
	height: 80px;
	border-radius: 4px;
	background-color: #eeeeee;
	margin-bottom: 12px;
	position: relative;
}
.price-regulator-left {
	display: block;
	position: absolute;
	top: 50%;
	left: 20px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	margin-top: -10px;
	background-color: #ffffff;
	color: #a9a9a9;
	text-align: center;
	box-shadow: 0px 2px 2px 0px #cfcfcf;
}
.price-regulator-right {
	display: block;
	position: absolute;
	top: 50%;
	right: 60px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	margin-top: -10px;
	background-color: #ffffff;
	color: #a9a9a9;
	text-align: center;
	box-shadow: 0px 2px 2px 0px #cfcfcf;
}
.price-regulator-left::before,
.price-regulator-right::after {
	content: "";
	width: 4px;
	height: 4px;
	border-radius: 2px;
	position: absolute;
	background-color: #a9a9a9;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
}
.interval::before {
	content: "";
	width: 120px;
	height: 2px;
	top: 50%;
	left: 40px;
	margin-top: -1px;
	position: absolute;
	background-color: #72c978;
	display: block;
}
.interval::after {
	content: "";
	width: 40px;
	height: 2px;
	top: 50%;
	right: 20px;
	margin-top: -1px;
	position: absolute;
	background-color: #d7dbdd;
	display: block;
}
.sorting {
	margin-bottom: 16px;
}
.sorting-type {
	float: left;
}
.sorting-type ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0px;
}
.sorting-type li {
	display: inline-block;
	margin-right: 45px;
	line-height: 16px;
	font-size: 12px;
    text-transform: uppercase;
    border-bottom: dotted 1px #71c978;  
}
.sorting-type li:first-child {
	border-bottom: none;
	margin-right: 38px;
} 
.sorting-type a {
	color: #c9c9c9;
	text-decoration: none;
}

.dir {
	float: right;
}
.dir a {
	display: inline-block;
	width: 12px;
	height: 12px;
}
.catalog-item {
	width: 240px;
	height: 270px;
	display: inline-block;
	position: relative;
	margin-bottom: 79px;
}
.catalog-item:nth-of-type(odd) {
	margin-right: 76px;
}
.item-head {
	height: 30px;
	border-radius: 6px 6px 0 0;
	background-color: #717171;
	opacity: 0.1; 
}
.catalog-item:hover .item-head {
	opacity: 1;
}
.browser {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 5px;
    left: 10px;
}
.browser li {
	display: inline-block;
	font-size: 12px;
	width: 10px;
	height: 10px;
	background-color: #ffffff;
	border-radius: 5px;
	margin-right: 5px;
}
.item-info {
	width: 160px;
	height: 200px;
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -100px;
	background-color: #ffffff;
	text-align: center;
	display: none;
	padding-left: 20px;
	padding-right: 20px;
}
.item-desc {
	height: 115px;
	padding-top: 20px;
}
.item-info h3 {
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 6px;
}
.item-info span {
	font-size: 14px;
	line-height: 18px;
}
.catalog-item:hover .item-info {
	display: block;
	}
.btn-item {
	display: inline-block;
	width: 140px;
	line-height: 38px;
	border-radius: 3px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	color: #ffffff;
	background-color: #db575a;
}
.view-btn {
	margin-bottom: 80px;
}
.view-btn  ul{
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
}
.view-btn li {
	display: inline-block;
	line-height: 38px;
	margin-right: 10px;
	width: 38px;
	height: 38px;
}
.view-btn a {
	display: block;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	color: #000000;
	background-color: #f1f1f1;
	border-radius: 3px;
}
.view-btn li:last-child {
	width: 140px;
}
.view-btn a:hover {
	background-color: #e4e4e4;
}
.view-btn a:focus {
	background-color: #d4d4d4;
	box-shadow: inset 0px 3px 0px 0px #b4b4b4;
}
.view-btn .activ {
	background-color: #ffffff;
	border: 2px solid #f2f2f2;
}
.view-btn .activ:hover {
	background-color: #ffffff;
}
.view-btn .activ:focus {
	background-color: #ffffff;
	box-shadow: none;
}
.price-interval input {
	width: 80px;
	line-height: 38px;
	background-color: #eeeeee;
	border-radius: 4px;
	border: none;
	margin-bottom: 44px;
	text-align: center;
	margin-left: 6px;
	outline: none;
	display: inline-block;
	margin-right: -24em;
}
.price-interval input:first-child {
	margin-right: 2px;
}
.filter h5 {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 30px;
	font-weight: 500;
	margin-top: 0px;
	margin-bottom: 15px;
}
.filter p {
	margin-top: 0px;
	margin-bottom: 18px;
}
.filter-grid {
	margin-bottom: 43px;
}
.btn-form {
	display: block;width: 156px;
	line-height: 38px;
	text-align: center;
	background-color: #eeeeee;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	border-radius: 3px;
	font-size: 12px;
	margin-top: 58px;
}
.filter-radio input[type="radio"] {
	display: none;
}
.filter-radio {
	position: relative;
	cursor: pointer;
	padding-left: 35px;
}
.filter-radio input[type="radio"] +
	.radiobutton {
		position: absolute;
		top: -5px;
		left: -5px;
		font-size: 26px;
	}
.filter-radio input[type="radio"] +
	.radiobutton .icon-circle-dot {
		display: none;
	}
.filter-radio input[type="radio"]:checked +
.radiobutton .icon-circle-dot {
		font-size: 26px;
		display: inline;
		position: absolute;
		top: 0px;
		left: 0px;
	}
.filter-radio input[type="radio"]:checked +
.radiobutton .icon-circle {
		display: none;
	}
.filter-checkbox input[type="checkbox"] {
	display: none;
}
.filter-checkbox {
	position: relative;
	cursor: pointer;
	padding-left: 35px;
}
.filter-checkbox input[type="checkbox"] +
	.checkbox-indicator {
		position: absolute;
		top: -3px;
		left: -6px;
		font-size: 26px;
	}
.filter-checkbox input[type="checkbox"] +
	.checkbox-indicator .icon-check-on {
		display: none;
	}
.filter-checkbox input[type="checkbox"]:checked +
.checkbox-indicator .icon-check-on {
		font-size: 26px;
		display: inline;
		position: absolute;
		top: 0px;
		left: 2px;
	}
.filter-checkbox input[type="checkbox"]:checked +
.checkbox-indicator .icon-check-off {
		display: none;
	}
.modal-content {
	position: fixed;
	top: 150px;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	height: 250px;
	background-color: #c3c3c3;
	display: none;
}
.modal-content-close {
	position: absolute;
	width: 15px;
	height: 15px;
	background-color: red;
	font-size: 0px;
	top: 0px;
	right: -20px;
	cursor: pointer;
	border: 0;
	outline: 0;
}
.modal-content-show {
	display: block;
}				