body {
	width: 100%;
	margin: 0 auto;
	font-family: "roboto", "Arial", sans-serif ;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;

}
body h3 {
	font-size: 25px;
    margin-bottom: 55px;
    padding-bottom: 30px;
    padding-top: 85px;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-bottom: 1px solid #8fafbe;
    text-align: center;
    font-weight: 500;
}	
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.container {
	width: 880px;
	margin: 0 auto;
}
.main-header {
	background-image: url(../img/bg_start.jpg);
	background-color:rgba(69, 200, 228, 0.8);
	background-size: cover;
	min-height: 720px;
	margin-bottom: -40px;
}
.top-header {
	width: 100%;
	min-height: 60px;
	font-size: 14px;
	text-transform: uppercase;
	background-color:rgba(0, 0, 0, 0.65);
	position: fixed;
	z-index: 3;
}
.top-nav {
	float: right;
}
.top-nav  ul{
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
}
.top-nav li {
	font-size: 16px;
	display: inline-block;
	vertical-align: top;
	line-height: 30px;
}
.top-nav a {
	display: block;
	padding-top: 15px;
	margin-right: 45px;
	text-decoration: none;
	color: #ffffff;
	font-weight: 400;
	letter-spacing: 2px;
}
.top-nav a:hover {
	color: #8fafbe;
	border-bottom: 2px solid #8fafbe;
}
.top-nav a:focus {
	color: #ffffff;
}
.active {
	border-bottom: 2px solid #db575a;
}
.logo {
	width: 100%;
	min-height: 155px;
	background-color:rgba(0, 0, 0, 0.35);
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	z-index: 2;
	text-align: center;
}
.logo h1 {
	text-transform: uppercase;
	color: #ffffff;
    letter-spacing: 21px;
    font-size: 63px;
    font-weight: 400;
    font-style: italic;
}
.logo p {
	text-transform: uppercase;
	color: #ffffff;
	letter-spacing: 3px;
	font-size: 20px;
}

.works {
	margin-bottom: 80px;
	text-align: center;
}
.works-item {
	float: left;
	width: 240px;
	margin-right: 80px;
}
.works-item b {
	text-transform: uppercase;
	font-size: 18px;
}
.works-item p {
	font-size: 15px;
	margin-top: 17px;
	margin-bottom: 26px;
	line-height: 22px;
}
.works-item:last-child {
	margin-right: 0px;
}
.works span {
	display: block;
	width: 240px;
	height: 200px;
	background-image: url(../img/sprite.jpg);
	margin-bottom: 27px;
}
.staff {
	background-position: 0px 0px
}
.quality {
	background-position: 0px -200px;
}
.niceprice {
	background-position: 0px -402px;
}
.price {
	background-color:rgba(208, 243, 251, 0.2);
}
.price table{
    border-collapse: collapse;
    margin-bottom: 30px;
}
.table-price tr td {
	border: 1px solid #8fafbe;
	font-weight: 500;
	text-align: center;
	padding: 10px;
}
.partners {
	margin-bottom: 85px;
}
.partners  ul {
	padding-left: 25px;
	max-width: 380px;
	float: left;
}
.partners  li {
	margin-right: 20px;
	margin-bottom: 20px;
	font-size: 16px;
    text-transform: uppercase;
}
.partners img {
	float: right;
}
.contacts {
	padding-bottom: 85px;
	background-color:rgba(208, 243, 251, 0.2);
}
.form-wrapper {
	float: right;
	width: 50%;
}
.adds {
	float: left;
}
.adds ul {
	list-style: none;
	padding-left: 0px;
}
.adds ul li {
	padding-bottom: 20px;
	font-size: 18px;
}
.main-form button {
  border: none;
  color: #fff;
  line-height: 40px;
  padding: 0 25px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 10px;
  background-color: #2d4e71;
  float: right; 
}
.main-form button:hover {
	 background-color: #0387ae;
	}
.form-group {
  display: block;
  margin-bottom: 20px; 
}
  .form-group .color_element {
    font-weight: 700;
    font-size: 16px; 
}
  .form-group .text-danger {
    font-size: 11px;
    margin-top: 5px;
    display: block; 
}
    .form-group .text-danger ul,
    .form-group .text-danger li {
      margin: 0;
      padding: 0;
      list-style-type: none; 
  }
  .form-group input,
  .form-group textarea {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 5px;
    line-height: 40px;
    text-indent: 12px;
    font-size: 12px;
    background-color: transparent; 
}
.main-footer {
	min-height: 60px;
	background-color: #2d4e71;
	font-size: 16px;
	letter-spacing: 2px;
	font-weight: 400;
	color: #ffffff;
	padding-top: 35px;
}
.year {
	float: right;
}
