body {
	width: 100%;
	margin: 0 auto;
	font-family: "roboto", "Arial", sans-serif ;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;

}
h2 {
	font-size: 36px;
	line-height: 35px;
	font-weight: 500;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.main-header {
	background-image: url(../img/bg_start.jpg);
	background-size: cover;
	min-height: 720px;
	margin-bottom: 80px;
}
.container {
	width: 880px;
	margin: 0 auto;
}
.top-header {
	width: 100%;
	min-height: 83px;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 47px;
	background-color:rgba(0, 0, 0, 0.35);
	position: fixed;
	z-index: 2;
}
.top-nav {
	float: right;
}
.top-nav  ul{
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
}
.top-nav li {
	font-size: 20px;
	display: inline-block;
	vertical-align: top;
	line-height: 30px;
}
.top-nav a {
	display: block;
	padding-top: 53px;
	margin-right: 45px;
	text-decoration: none;
	color: #ffffff;
	font-weight: 500;
}
.top-nav a:hover {
	color: #db575a;
}
.top-nav a:focus {
	color: #a9a9a9;
}
.active {
	border-bottom: 2px solid #db575a;
}
.logo {

}

.works {
	margin-bottom: 80px;
}	
.works-item {
	float: left;
	width: 240px;
	margin-right: 80px;
}
.works-item b {
	text-transform: uppercase;
	font-size: 18px;
}
.works-item p {
	font-size: 15px;
	margin-top: 17px;
	margin-bottom: 26px;
	line-height: 22px;
}
.works-item:last-child {
	margin-right: 0px;
}
.works span {
	display: block;
	width: 240px;
	height: 124px;
	background-image: url(../images/sprite.jpg);
	margin-bottom: 27px;
}
.web {
	background-position: 0px 0px
}
.app {
	background-position: 0px -124px;
}
.present {
	background-position: 0px -248px;
}
.partners {
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
	margin-bottom: 85px;
}
.partners  ul {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
}
.partners  li {
	float: left;
	margin-right: 100px;
}
.partners  li:last-child {
	margin-right: 0px;
}
.partners a {
	display: block;
	width: 220px;
	height: 166px;
	font-size: 0px;
	opacity: 0.2;
}
.partners .glukhanko {
	background: url(../images/glukhanko.png) no-repeat center;
}
.partners .htmlacademy {
	background: url(../images/htmlacademy.png) no-repeat center;
}
.partners .borodinski {
	background: url(../images/borodinski.png) no-repeat center;
}
.partners a:hover {
	opacity: 1;
}
.contacts {
	width: 230px;
	background-color: #ffffff;
	padding-left: 20px;
	padding-top: 13px;
	position: absolute;
	top: 88px;
	left: 160px;
}
.contacts h3 {
	font-size: 16px;
	margin-bottom: 15px;
}
.contacts p {
	color: #666666;
	line-height: 20px;
	margin-bottom: 20px;
}
.btn-contact {
	background-color: #db575a;
	padding-right: 55px;
	padding-left: 55px;
	margin-top: 10px;
    margin-bottom: 25px;
}

.main-footer {
	min-height: 100px;
}
